USE [MisionesEspaciales]
GO
/****** Object:  Table [dbo].[Astronauta]    Script Date: 10/05/2026 3:47:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Astronauta](
	[AstronautaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[PaisID] [int] NOT NULL,
	[TotalMisiones] [int] NOT NULL,
 CONSTRAINT [PK_Astronauta] PRIMARY KEY CLUSTERED 
(
	[AstronautaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mision]    Script Date: 10/05/2026 3:48:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mision](
	[MisionID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[FechaLanzamiento] [date] NOT NULL,
	[FechaRetorno] [date] NULL,
	[Vehiculo] [varchar](100) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Mision] PRIMARY KEY CLUSTERED 
(
	[MisionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MisionAstronauta]    Script Date: 10/05/2026 3:48:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MisionAstronauta](
	[MisionAstronautaID] [int] IDENTITY(1,1) NOT NULL,
	[MisionID] [int] NOT NULL,
	[AstronautaID] [int] NOT NULL,
	[Rol] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MisionAstronauta] PRIMARY KEY CLUSTERED 
(
	[MisionAstronautaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 10/05/2026 3:48:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[PaisID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Codigo] [char](3) NOT NULL,
 CONSTRAINT [PK_Pais] PRIMARY KEY CLUSTERED 
(
	[PaisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Astronauta] ON 

INSERT [dbo].[Astronauta] ([AstronautaID], [Nombre], [Apellido], [FechaNacimiento], [PaisID], [TotalMisiones]) VALUES (1, N'Neil', N'Armstrong', CAST(N'1930-08-05' AS Date), 1, 1)
INSERT [dbo].[Astronauta] ([AstronautaID], [Nombre], [Apellido], [FechaNacimiento], [PaisID], [TotalMisiones]) VALUES (2, N'Yuri', N'Gagarin', CAST(N'1934-03-09' AS Date), 2, 1)
INSERT [dbo].[Astronauta] ([AstronautaID], [Nombre], [Apellido], [FechaNacimiento], [PaisID], [TotalMisiones]) VALUES (3, N'Buzz', N'Aldrin', CAST(N'1930-01-20' AS Date), 1, 1)
SET IDENTITY_INSERT [dbo].[Astronauta] OFF
GO
SET IDENTITY_INSERT [dbo].[Mision] ON 

INSERT [dbo].[Mision] ([MisionID], [Nombre], [FechaLanzamiento], [FechaRetorno], [Vehiculo], [Estado]) VALUES (1, N'Apollo 11', CAST(N'1969-07-16' AS Date), CAST(N'1969-07-24' AS Date), N'Saturn V', N'Completada')
INSERT [dbo].[Mision] ([MisionID], [Nombre], [FechaLanzamiento], [FechaRetorno], [Vehiculo], [Estado]) VALUES (2, N'Vostok 1', CAST(N'1961-04-12' AS Date), CAST(N'1961-04-12' AS Date), N'Vostok', N'Completada')
INSERT [dbo].[Mision] ([MisionID], [Nombre], [FechaLanzamiento], [FechaRetorno], [Vehiculo], [Estado]) VALUES (3, N'ISS Expedicion 50', CAST(N'2016-11-17' AS Date), CAST(N'2017-04-10' AS Date), N'Soyuz MS-02', N'Completada')
SET IDENTITY_INSERT [dbo].[Mision] OFF
GO
SET IDENTITY_INSERT [dbo].[MisionAstronauta] ON 

INSERT [dbo].[MisionAstronauta] ([MisionAstronautaID], [MisionID], [AstronautaID], [Rol]) VALUES (1, 3, 4, N'Capitana')
INSERT [dbo].[MisionAstronauta] ([MisionAstronautaID], [MisionID], [AstronautaID], [Rol]) VALUES (2, 1, 3, N'Tripulante')
INSERT [dbo].[MisionAstronauta] ([MisionAstronautaID], [MisionID], [AstronautaID], [Rol]) VALUES (3, 4, 2, N'Tripulante')
SET IDENTITY_INSERT [dbo].[MisionAstronauta] OFF
GO
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([PaisID], [Nombre], [Codigo]) VALUES (1, N'Estados Unidos', N'USA')
INSERT [dbo].[Pais] ([PaisID], [Nombre], [Codigo]) VALUES (2, N'Rusia', N'RUS')
INSERT [dbo].[Pais] ([PaisID], [Nombre], [Codigo]) VALUES (3, N'China', N'CHN')
SET IDENTITY_INSERT [dbo].[Pais] OFF
GO
/****** Object:  Index [UQ_MA_MisionAstro]    Script Date: 10/05/2026 3:48:00 p. m. ******/
ALTER TABLE [dbo].[MisionAstronauta] ADD  CONSTRAINT [UQ_MA_MisionAstro] UNIQUE NONCLUSTERED 
(
	[MisionID] ASC,
	[AstronautaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Astronauta] ADD  DEFAULT ((0)) FOR [TotalMisiones]
GO
ALTER TABLE [dbo].[Mision] ADD  DEFAULT ('Planificada') FOR [Estado]
GO
ALTER TABLE [dbo].[MisionAstronauta] ADD  DEFAULT ('Tripulante') FOR [Rol]
GO
ALTER TABLE [dbo].[Astronauta]  WITH CHECK ADD  CONSTRAINT [FK_Astronauta_Pais] FOREIGN KEY([PaisID])
REFERENCES [dbo].[Pais] ([PaisID])
GO
ALTER TABLE [dbo].[Astronauta] CHECK CONSTRAINT [FK_Astronauta_Pais]
GO
ALTER TABLE [dbo].[MisionAstronauta]  WITH CHECK ADD  CONSTRAINT [FK_MA_Astronauta] FOREIGN KEY([AstronautaID])
REFERENCES [dbo].[Astronauta] ([AstronautaID])
GO
ALTER TABLE [dbo].[MisionAstronauta] CHECK CONSTRAINT [FK_MA_Astronauta]
GO
ALTER TABLE [dbo].[MisionAstronauta]  WITH CHECK ADD  CONSTRAINT [FK_MA_Mision] FOREIGN KEY([MisionID])
REFERENCES [dbo].[Mision] ([MisionID])
GO
ALTER TABLE [dbo].[MisionAstronauta] CHECK CONSTRAINT [FK_MA_Mision]
GO
ALTER TABLE [dbo].[Mision]  WITH CHECK ADD  CONSTRAINT [CK_Mision_Estado] CHECK  (([Estado]='Cancelada' OR [Estado]='Completada' OR [Estado]='En curso' OR [Estado]='Planificada'))
GO
ALTER TABLE [dbo].[Mision] CHECK CONSTRAINT [CK_Mision_Estado]
GO
/****** Object:  StoredProcedure [dbo].[ps_Astronautas_Asociados]    Script Date: 10/05/2026 3:48:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP para saber los astronautas (id, nombre) asociados a un id de misión --> id astronauta, nombre astronauta

--select * from dbo.Mision
--select * from dbo.MisionAstronauta
--SELECT * FROM dbo.Astronauta
CREATE   PROCEDURE [dbo].[ps_Astronautas_Asociados]
@MisionID INT
AS
BEGIN
SET NOCOUNT ON;

    SELECT a.AstronautaID, a.Nombre FROM Astronauta a
    join MisionAstronauta ma on  a.AstronautaID = ma.AstronautaID
    WHERE ma.MisionID = @MisionID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearAstronauta]    Script Date: 10/05/2026 3:48:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--para crear astronauta

--SELECT * FROM Astronauta
--select * from MisionAstronauta

CREATE   PROCEDURE [dbo].[sp_CrearAstronauta]
	@Nombre varchar(50),
	@Apellido varchar(50),
	@FechaNacimiento date,
	@PaisID int
AS	
BEGIN
SET NOCOUNT ON;
INSERT INTO Astronauta(Nombre, Apellido, FechaNacimiento, PaisID) 
			   values (@Nombre,@Apellido,@FechaNacimiento,@PaisID)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ID_Astronauta_Pais]    Script Date: 10/05/2026 3:48:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ID_Astronauta_Pais]
    @AstronautaID INT


AS
BEGIN

Select p.Nombre from dbo.Astronauta
join Pais p on  p.PaisID = Astronauta.PaisID

where AstronautaID = @AstronautaID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_MisionAsignada]    Script Date: 10/05/2026 3:48:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP para saber si una misión ya tiene asignado al menos un astronauta ---> bit
--select * from dbo.Mision
--select * from dbo.MisionAstronauta
--SELECT * FROM dbo.Astronauta

CREATE   PROCEDURE [dbo].[sp_MisionAsignada]
	@MisionID int
AS
BEGIN
SET NOCOUNT ON;

SELECT
	CASE 
	WHEN EXISTS (SELECT 1 FROM MisionAstronauta ma 
	WHERE ma.MisionID = @MisionID)
	THEN cast(1 AS BIT)
	ELSE cast(0 AS BIT)
	END AS AstronautaAsignado
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Pais_Astronauta]    Script Date: 10/05/2026 3:48:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Pais_Astronauta]
	@PaisID INT 

AS
BEGIN
SELECT 

	A.Nombre + ' ' + A.Apellido  AS NombreC

From dbo.Astronauta A

WHERE PaisID = @PaisID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PaisBit]    Script Date: 10/05/2026 3:48:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP para saber si un país ya existe usando el código de país ---> bit


CREATE   PROCEDURE [dbo].[sp_PaisBit]
    @Codigo VARCHAR(50)   
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        CASE 
            WHEN EXISTS (SELECT 1 FROM Pais p WHERE p.Codigo = @Codigo) 
                THEN CAST(1 AS BIT) 
            ELSE CAST(0 AS BIT) 
        END AS Existe;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ResumenAstronauta]    Script Date: 10/05/2026 3:48:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ------------------------------------------------------------
-- Stored Procedure: sp_ResumenAstronauta
--   Recibe el ID (o NULL para todos) y devuelve un resumen
--   con pais, numero de misiones y las misiones en que participo.
-- ------------------------------------------------------------
CREATE   PROCEDURE [dbo].[sp_ResumenAstronauta]
    @AstronautaID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Datos generales del astronauta
    SELECT
        A.AstronautaID,
        A.Nombre + ' ' + A.Apellido         AS NombreCompleto,
        P.Nombre                             AS Pais,
        A.FechaNacimiento,
        DATEDIFF(YEAR, A.FechaNacimiento, GETDATE()) AS Edad,
        A.TotalMisiones
    FROM  Astronauta A
    JOIN  Pais P ON A.PaisID = P.PaisID
    WHERE (@AstronautaID IS NULL OR A.AstronautaID = @AstronautaID)
    ORDER BY A.Apellido, A.Nombre;

    -- 2. Detalle de misiones por astronauta
    SELECT
        A.Nombre + ' ' + A.Apellido         AS Astronauta,
        M.Nombre                             AS Mision,
        MA.Rol,
        M.FechaLanzamiento,
        M.Estado
    FROM  MisionAstronauta MA
    JOIN  Astronauta A ON MA.AstronautaID = A.AstronautaID
    JOIN  Mision     M ON MA.MisionID     = M.MisionID
    WHERE (@AstronautaID IS NULL OR A.AstronautaID = @AstronautaID)
    ORDER BY A.Apellido, M.FechaLanzamiento;
END;

GO
