/*
   viernes, 5 de junio de 20264:32:32 p. m.
   User: admin
   Server: LAPTOP-FHMO3IRE\SQLEXPRESS
   Database: MisionesEspaciales
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Astronauta
	DROP CONSTRAINT FK_Astronauta_Pais
GO
ALTER TABLE dbo.Pais SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Astronauta
	DROP CONSTRAINT DF__Astronaut__Total__3E52440B
GO
ALTER TABLE dbo.Astronauta
	DROP CONSTRAINT DF__Astronaut__Usuar__4BAC3F29
GO
ALTER TABLE dbo.Astronauta
	DROP CONSTRAINT DF__Astronaut__Contr__4CA06362
GO
CREATE TABLE dbo.Tmp_Astronauta
	(
	AstronautaID int NOT NULL IDENTITY (1, 1),
	Nombre varchar(100) NOT NULL,
	Apellido varchar(100) NOT NULL,
	FechaNacimiento date NOT NULL,
	PaisID int NOT NULL,
	TotalMisiones int NOT NULL,
	Usuario nvarchar(50) NOT NULL,
	Contrasena nvarchar(100) NOT NULL,
	Token nvarchar(MAX) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_Astronauta SET (LOCK_ESCALATION = TABLE)
GO
ALTER TABLE dbo.Tmp_Astronauta ADD CONSTRAINT
	DF__Astronaut__Total__3E52440B DEFAULT ((0)) FOR TotalMisiones
GO
ALTER TABLE dbo.Tmp_Astronauta ADD CONSTRAINT
	DF__Astronaut__Usuar__4BAC3F29 DEFAULT ('') FOR Usuario
GO
ALTER TABLE dbo.Tmp_Astronauta ADD CONSTRAINT
	DF__Astronaut__Contr__4CA06362 DEFAULT ('') FOR Contrasena
GO
SET IDENTITY_INSERT dbo.Tmp_Astronauta ON
GO
IF EXISTS(SELECT * FROM dbo.Astronauta)
	 EXEC('INSERT INTO dbo.Tmp_Astronauta (AstronautaID, Nombre, Apellido, FechaNacimiento, PaisID, TotalMisiones, Usuario, Contrasena, Token)
		SELECT AstronautaID, Nombre, Apellido, FechaNacimiento, PaisID, TotalMisiones, Usuario, Contrasena, CONVERT(nvarchar(MAX), Token) FROM dbo.Astronauta WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_Astronauta OFF
GO
ALTER TABLE dbo.MisionAstronauta
	DROP CONSTRAINT FK_MA_Astronauta
GO
DROP TABLE dbo.Astronauta
GO
EXECUTE sp_rename N'dbo.Tmp_Astronauta', N'Astronauta', 'OBJECT' 
GO
ALTER TABLE dbo.Astronauta ADD CONSTRAINT
	PK_Astronauta PRIMARY KEY CLUSTERED 
	(
	AstronautaID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Astronauta ADD CONSTRAINT
	FK_Astronauta_Pais FOREIGN KEY
	(
	PaisID
	) REFERENCES dbo.Pais
	(
	PaisID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.MisionAstronauta ADD CONSTRAINT
	FK_MA_Astronauta FOREIGN KEY
	(
	AstronautaID
	) REFERENCES dbo.Astronauta
	(
	AstronautaID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.MisionAstronauta SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
